appnope==0.1.0
assertpy==0.13
atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
certifi==2018.10.15
chardet==3.0.4
coverage==4.0.3
coveralls==1.5.1
cycler==0.10.0
decorator==4.3.0
docopt==0.6.2
idna==2.7
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.12.1
kiwisolver==1.0.1
matplotlib==3.0.0
more-itertools==4.3.0
nltk==3.4.5
numpy==1.15.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
pluggy==0.7.1
prompt-toolkit==1.0.15
ptyprocess==0.6.0
py==1.6.0
pycodestyle==2.4.0
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.8.0
pytest-cov==2.5.0
python-coveralls==2.9.1
python-dateutil==2.7.3
python-igraph==0.7.1.post6
pytz==2018.5
PyYAML==4.2b4
requests==2.20.0
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
svgwrite==1.1.12
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
